body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-family: sans-serif;
    color: white;

    .parent-div{
        display: flex;
        background-color: black;
       
        img{
            width: 46.4%;
        }
        .name{
            flex: 9;
            margin-left: 75px;
            margin-top: 85px;
            h2{
                font-size: 80px;
                margin-bottom: 0;
            }
            .title{
                margin-top: 30px;
                margin-bottom: 30px;
                color: rgb(101, 101, 255);
                font-weight: 600;
            }
            .description{
                width: 400px;
                word-wrap: break-word;
                color: grey;
                margin-top: none;
            }
        }
       
        #contact-me{
            margin-top: 20px;
            font-size: 13px;
            color: black;
            font-weight:bolder;
            background-color: #FFF01F;
            width: 180px;
            height: 50px;
            border: 2px solid #FFF01F;
            border-radius: 20px;
        }
        #contact-me:hover{
            background-color:#FFF01F;
        }
        .social{
            flex: 1;
            border-left: .1px solid rgb(75, 75, 75);
            height: 100vh;
            display: flex;
            justify-content: center;
            position: relative;

           .facebook{
            position: absolute;
            bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(75, 75, 75);
            border-radius:40px;
            width: 50px;
            height: 50px;
            a{
                color: white;
            }
            a:hover{
                color: rgb(170, 170, 170);
            }
           }
           .instagram{
            position: absolute;
            bottom: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(75, 75, 75);
            border-radius:40px;
            width: 50px;
            height: 50px;
            a{
                color: white;
            }
            a:hover{
                color: rgb(170, 170, 170);
            }
           }
        }
    }
}