html {
    scroll-behavior: smooth;
  }
body{
    background-color: #0C0C0C;
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    margin-bottom: 500px;
    overflow-x: hidden;


    //logo
   

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 60px;
        
        #logo{
            height: 40px;
            margin-left: 20px;
        }
        a{
            font-size: 15px;
            color:#FFF01F;
            text-decoration: none;
            font-weight: 400;
        }
        a:hover{
            color: white;
        }
        ul{
            display: flex;
            margin-right: 50px;
            li{
                margin-left: 50px;
            }
        }
    }

    .container{
        position: relative;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            position: absolute;
            width: 40%;
            top: 35px;
            right: 200px;
        }

        h2{
            z-index: 999;
            position: absolute;
            left: 200px;
            top: 350px;
            font-size: 100px;
            font-weight: bold;
            line-height: 50px;
        }
    }

    .quote{
        position: relative;
        blockquote{
            position: absolute;
            top: 300px;
            right: 25%;
            font-size: 50px;
            text-align: center;
            width: 50%;
            font-weight: bold;
            #line{
                width: 100%;
                background:#FFF01F;
                display: block;
                height: 5px;
                margin-top: 10px;
            }
            #verse{
                font-size: 10px;
            }

        }

        #upper_right_polygon{
            opacity: 0.3;
            position: absolute;
            top: 50px;
            right: 170px;
            width: 10%;
        }

        #lower_left_polygon{
            opacity: 0.3;
            transform: rotate(90deg);
            position: absolute;
            top: 500px;
            left: 120px;
            width: 10%;
        }

        
    }

    .spacer{
        height: 800px;
    }

    .about_me{
        margin: 0px;
        padding: 0;
        position: relative;
        H2{
            position: absolute;
            font-size: 200px;
            font-weight: bold;
            top: 160px;
            right: 250px;
            color: rgba(255, 255, 0, 0.178);
        }
        .par{
            top:260px;
            right: 160px;
            position: absolute;
            z-index: 99999;
            width: 900px;
            font-size: 40px;
            line-height: 40px;
        }
        .see_more{
            font-size: 20px;
            top: 430px;
            right: 957px;
            position: absolute;

            a{
                color: #FFF01F;
                text-decoration: none;
            }
            a:hover{
                color: rgb(138, 138, 138);
            }
        }
    }
    #space{
        height: 700px;
    }

    .educational_background{
        margin: 0px;
        padding: 0;
        position: relative;
        H2{
            position: absolute;
            font-size: 200px;
            font-weight: bold;
            top: 100px;
            left: 150px;
            color: rgba(255, 255, 0, 0.178);
            
        }

            img{
                position: absolute;
                left: 500px;
                top: 200px;
                width: 30%;
            }
       
    }

    .hobbies{
        position: relative;
        img{
            position: absolute;
            width: 700px;
            right: 100px;
            top: 90px;
        }
        .hobbies-title{
            font-size: 65px;
            font-weight: 600;
            position: absolute;
            left: 100px;
            top: 270px;
        }
        button{
            position: absolute;
            font-size: 16px;
            top: 450px;
            left: 100px;
            color: black;
            font-weight: bold;
            background-color: #fff01fea;
            width: 150px;
            height: 50px;
            border-radius: 12px;
        }
        button:hover{
            background-color:#FFF01F;
        }

        
    }

    #space-hobbies{
        height: 650px;
    }

    .projects-section{
        margin: 0;
        padding: 0;
        position: relative;
        img{
            position: absolute;
            width: 50%;
            top: 60px;
            left: 50px;
        }
        h2{
            color: #FFF01F;
            position: absolute;
            right: 540px;
            top: 210px;
            font-size: 40px;
        }
        
        p{
            position: absolute;
            right: 200px;
            top: 310px;
            font-size: 40px;
            font-style: italic;
        }
        h1{
            position: absolute;
            right: 510px;
            top: 440px;
            font-size: 40px;
            a{
                text-decoration: none;
                color: #FFF01F;
            }
        }
    }

    #space-projects{
        height: 720px;
    }

    .question-section{
        position: relative;
        img{
            width: 50%;
            position: absolute;
            right: 40px;
            top: 10px;
        }
        .question-title{
            font-size: 65px;
            font-weight: 600;
            position: absolute;
            left: 100px;
            top: 220px;
        }
        button{
            position: absolute;
            font-size: 16px;
            top: 400px;
            left: 100px;
            color: black;
            font-weight: bold;
            background-color: #fff01fea;
            width: 180px;
            height: 50px;
            border-radius: 30px;
        }
        button:hover{
            background-color:#FFF01F;
        }
    }
    #space-question{
        height: 100px;
    }


}


//scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb {
    background: #FFF01F; 
    border-radius: 10px;
}